html:not(.dark) > .sb-show-main {
	/* replace color */
	/* color: black; */
	background: white !important;
}

.dark > .sb-show-main {
	/* replace color */
	/* color: white; */
	background: black !important;
}

@media (prefers-color-scheme: dark) {
	.dark > .sb-show-main {
		/* replace color */
		/* color: white; */
		background: black !important;
	}
}
@media (prefers-color-scheme: light) {
	html:not(.dark) > .sb-show-main {
		/* replace color */
		/* color: black; */
		background: white !important;
	}
}